# Node.js
node_modules/

# SQLite
*.sqlite

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Env files
.env

# Logs
logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# database files
database
